/*320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
*/

:root{
  --zombie-pink-1:  #F11F6C;
  --zombie-pink-2:  #F279D2;
  --zombie-purple:  #493673;
  --zombie-green-1: #55D98E;
  --zombie-green-2: #7BF277;
  --zombie-green-3: #1C8779;
  font-size: 1vw;
  font-family:'Orbitron',sans-serif;;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  overflow: hidden;
}

h2{
  font-size: 7.9rem;
  font-weight: 900;
}

/*HEADER*/
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--zombie-purple);
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  z-index: 1;
}

#head-logo,nav ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 5px;
  margin-top: 10px;
}

.nav-link{
  color: white;
  font-size: 3.1rem;
  text-decoration: none;
  margin: 0 5px;
  display: block;
}

a.anchor {
  display: block;
  position: relative;
  top: -25vh;
  visibility: hidden;
}

.nav-link:hover,#text-logo{
  color: var(--zombie-green-1);
}

#text-logo{
  font-size: 3.7rem;
  font-weight: 900;
  margin: 0;
  text-decoration-line: none;
}

#img-logo{
  width: 6.25rem;
}


/*HERO*/

#hero{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--zombie-purple);
  text-align: center;
  height: 125rem;
  padding: 30px 0;
  overflow: hidden;
  background-color: var(--zombie-purple);
}

.pink-hero,h1,#purple-hero{
  transform: rotate(-10deg);
}

.pink-hero{
  background-color: var(--zombie-pink-1);
  color: white;
  text-decoration: none;
  padding: 7px 20px;
  font-size: 4.1rem;
  display: inline-block;
  width: 60%;
  position: relative;
}

.pink-hero:first-of-type{
  align-self: flex-end;
  margin-top: 30px;
  left: 5px;
}

.pink-hero:last-of-type{
  float: left;
  margin-bottom: 30px;
  right: 5px;
}

.pink-hero:hover{
  background-color: var(--zombie-green-2);
  color: black;
  font-weight: 600;
  transition: all 0.3s;
}


#titulo{
  margin:  20px auto;
  font-weight: 900;
}

#purple-hero{
  color:var(--zombie-pink-2);
  font-size: 3.5rem;
  margin: 10px;
  margin-left: 6rem;
}

h1{
  font-size: 25rem;
  margin: 0;
  color: var(--zombie-green-1);
  line-height: 21rem;
}


/*ABOUT*/
#about{
  background-color: var(--zombie-green-2);
  width: 100%;
  height: 110rem;
  margin-top: calc(-115rem*0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: auto;
  overflow: hidden;
  clip-path: polygon(0% 10%, 100% 0%, 
                  100% 100%, 0% 100%);
}

#about-title{
  font-size: 8rem;
  margin: 10px;
}


#about-description{
  width: 90%;
  font-size: 4rem;
  font-weight: 900;
  margin: 0;
}

/*SKILLS*/
#skills{
  display: grid;
  grid-template-columns: 5%  auto;
  grid-template-rows: 20% auto;
  background-color: var(--zombie-green-1);
  color: white;
  height: 90rem;
  overflow: hidden;
  clip-path: polygon(0% 0%,  100% 10%, 
                  100% 100%, 0% 100%);
  margin-top: calc(-80rem*0.12);
}

#skills h2{
  color: var(--zombie-pink-1);
  margin-left: 10px;
  margin-top: 10px;
  grid-row: auto;
}

#skills-block{
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 5rem;
  transform: rotate(-5deg);

}

#skills-block div{
  background-color: var(--zombie-pink-1);
  margin-bottom: 5px;
}


#skills-container p{
  transform: rotate(5deg);
  line-height: 2.5rem;
}

#skills-nav ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  font-size: 3.8rem;
  font-weight: bold;
}

.skill-tag{
  cursor: pointer;
}

.skill-tag:hover{
  color: var(--zombie-green-1);
  transition: all 0.2s;
}

.selected{
  color: var(--zombie-green-1);
}

#skills-nav{
  padding: 5px 30px;
  clip-path: polygon(5.6% 0%,  100% 0%, 
                  100% 100%, 5.2% 100%);
}

#skills-container{
  padding: 7rem 0 0 6rem;
  height: calc(80rem*0.6);
  clip-path: polygon(5.1% 0%,  100% 0%, 
                  100% 100%, 2.3% 72%);
}

/*PROJECTs*/
#projects{
  background-color: var(--zombie-green-3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% auto auto;
  align-items: center;
  height: 100rem;
  margin-top: calc(-100rem*0.10);
  clip-path: polygon(0% 10%, 0% 100%,
  100% 100%, 100% 0%);
}

#projects-app{
  grid-area: 2/1/2/3;
  margin-top: -10rem;
}

#papp{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

#list-projects{
  color: white;
  list-style: none;
  font-size: 5.12rem;
  line-height: 3rem;
  padding: 0;
  margin: 0 10px;
  grid-column: 1;
}

.project:hover, #project-link:hover{
  font-size: 105%;
  font-weight: 900;
  transition: all 0.2s;
  cursor: pointer;
}

.project-selected{
  color: var(--zombie-green-2);
  text-shadow: black 1px 1px;
  font-weight: 900;
}

.s{
  font-size: 3.33rem !important;
}

#projects h2{
  color: var(--zombie-green-2);
  float: right;
  grid-area: 1 / 2;
  margin: 5px 0;
  justify-self: end;
  margin-right: 10px;
}

#project-description-box{
  background-color: var(--zombie-green-2);
  font-size: 3.5rem;
  height: 55rem;
  padding: 35px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  clip-path: polygon(0% 15%, 0% 85%,
  100% 100%, 100% 0%);
  font-weight: 900;
  grid-column: 2;
}

#project-title,#project-link,#sources-link-box{
  font-size: 4rem; text-decoration: none;}


#project-description-box *{
  margin: 0;
}

#project-link{
  color: var(--zombie-pink-1);
}

#sources-link-box{
  margin: -17.8rem auto 0 auto;
  transform: rotate(10.5deg);
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  grid-area: 3 / 1 / 3 / 3;
  padding: 0;
  font-weight: 600;
  width: 95%;
}

.sources-link{
  text-decoration: none;
  color: var(--zombie-green-2);
}

.sources-link:hover{
  font-size: 120%;
  color: white;
  transition: all 0.2s;
}

/*CONTACT*/
#contact{
  background-color: var(--zombie-pink-1);
  color: white;
  padding: 100px 0 0 0;
  overflow: hidden;
  height: 125rem;
  clip-path: polygon(0% 0%, 0% 100%,
  100% 100%, 100% 12%);  
  position: relative;
  margin-top: calc(-125rem*0.15);
}

#contact-links{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  top: 31rem;
  left: -5rem;
  font-size: 6rem;
}

.contact-link{
  text-decoration: none;
  color: white;
}

.contact-link:hover{
  color: var(--zombie-purple);
  font-weight: 600;
  transition: all 0.2s;
}

#main-contact,#contact-links{
  transform: rotate(-40deg);
}

#main-contact{
  background-color: var(--zombie-purple);
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  margin: 0;
  width: 150rem;
  height: 45rem;
  position: relative;
  right: 20rem;
  top: 30rem;
  clip-path: polygon(0% 0%, 0% 55%, 
  100% 100%, 100% 0%);
}

#main-contact h2{
  font-size: 15rem;
  margin: 0;
}

#main-contact a{
  display: inline-block;
  text-decoration: none;
  font-size: 7rem;
  font-weight: 900;
  color: white;
  transform: rotate(7deg);
  position: relative;
  top: -12rem;
  left: -10rem;
}

#main-contact a:hover{
  color: var(--zombie-pink-1);
  transition: color 0.2s;
}

#contact p{
  font-size: 4rem;
  position: absolute;
  bottom: 0px;
  right: 2rem;
}


/*RESPONSIVE*/

@media screen and (min-width: 769px) {
  :root{
    font-size: 0.4vw;
  }
  
  a.anchor{
    top: -15rem;
  }

  #about-a{
    top: -60rem
  }

  /*ABOUT*/
  #about{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
  }

  #about-title{
    font-size: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #about-title span{
    font-size: 32rem;
    line-height: 20rem;
  }

  #about-description{
    width: 60%;
    font-size: 5.5rem;
  }

  /*SKILLS*/
  #skills{
    padding-left:10vw;
  }

  #project-description-box{
    padding: 3.5vw 10vw 3vw 2vw;
  }

  #skills h2,#list-projects{
    margin-left: 10vw;
  }

  #skills-nav ul,#projects h2{
    margin-right: 10vw;
  }

  /*HERO*/
  #hero{
    height: 100rem;

  }

  #titulo *{
    transform: rotate(0);
  }

  h1{
    line-height: normal;
  }

  #purple-hero{
    margin-top: 0;
  }
  .pink-hero{
    width: 40%;
    font-weight: 300;
  }

  h2{
    font-size: 15rem;
  }
  
  /*SKILLS*/
  #skills{
    grid-template-rows: 15% auto auto;
    height: 100rem;
    margin-top: -10rem;
  }

  #skills h2{
    margin: 0;
    position: relative;
  }

  #skills-nav{
    margin-top: 10px;
  }

  #skills-nav *{
    font-size: 5rem;
  }
  
  #skills-block{
    font-size: 7rem;
  }


  #skills-container{
    height: 100%;
    padding: 10rem 12rem;
    clip-path: polygon(5.1% 0%,  100% 0%, 
    100% 100%, 2.5% 65%);   
  }


  /*PROJECTS*/

  #projects{
    height: 120rem;
    margin-top: calc(-120rem*0.10);
  }

  #list-projects{
    grid-row: 1/3;
    font-size: 8rem;
    line-height: 2rem;
  }
  #project-description-box{
    height: 65rem;
    font-size: 6rem;
    margin-top: 0;
  }
  .s{
    font-size: 4rem !important;
  }

  #sources-link-box{
    transform: rotate(2.5deg);
    margin-top: -12rem;
    font-size: 7rem;
  }

  #project-title,#project-link{
    font-size: 7rem;
    margin: 10px;
  }

  /*CONTACT*/
  #contact{
    clip-path: polygon(0% 0%, 100% 12%, 
    100% 100%, 0% 100%);   
    height: 70rem;
    margin-top: calc(-70rem*0.16);
  }

  #main-contact{
    transform: rotate(-25deg);
    height: 50rem;
  }

  #main-contact h2{
    font-size: 18rem;
    margin-left: -30rem;
  }

  #main-contact a{
    font-size: 11rem;
    transform: rotate(4.5deg);
    position: relative;
    top: -11rem;
    left: 12rem;
  }

  #contact-links{
    font-size: 7rem;
    width: 50%;
    position: relative;
    top: 18rem;
    transform: rotate(-25deg);
  }

}

/*OTHER DETAILS*/

::-webkit-scrollbar{
  width: 5px;
  background-color: var(--zombie-purple);
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--zombie-green-2);
}

::-webkit-scrollbar-thumb{
  background: var(--zombie-pink-1);
}

/*FOR THE JS*/

.hideLeft, .hideLeft *{
  transform: translate(-100vw, 0vh) ;
  transition: transform 1s;
}

.hideRight, .hideRight *{
  transform: translate(100vw, 0vh);
  transition: transform 1s;
}

.show, .show *{
  transform: translate(0, 0); 
}

.showp, .showp *{
  transform: rotate(-10deg);
}

@media screen and (min-width:720px) {
  
  .showp, .showp *{
    transform: rotate(-5deg);
  }

}

/*FOR THE SKILLS*/
#skills-container p{
  font-size: 1rem;
}
#skills-container p span{
  margin: 3px;
  font-weight: 600;
  display: inline-block;
  transform: translate(0,0);
}
.lang{
  font-size: 5em;
}

.lang.sm{
  font-size: 3.4em;
}

.tool{
  font-size: 3em;
}

.tool.sm{
  font-size: 1.8em;
}

.soft{
  font-size: 3.6em;
}

#skills-container p span:hover{
  color: var(--zombie-green-2);
  cursor:default;
  font-size: 4em;
  transition: all 0.5s;
}

.skill-out{
  transform: translate(100vw,0) !important;
  transition: all 0.6s;
}

@media screen and (min-width: 769px){
  #skills-container p{
    font-size: 1.8rem;
    line-height: 1.7em;
  }
  #skills-container p span{
    margin: 0 15px;
  }
}

